.commerce-order-item-add-to-cart-form{
    input[type="radio"]{
        margin-right: 5px;
    }
    .js-form-type-radio{
        height: 22px;
    }
    .ajax-progress-throbber .throbber{
        padding: 1px 6px 2px;
    }
}