/*---
 * Variables
 * Add all the variables you need for the project
 * Responsive = The responsive breakpoints use as needed.
 * Colors = Corporate Colors
---*/

//Responsive
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1200px;
$max-width: 1140px;
//Colors
$white: #FFF;
$brightPurple: #a84d59;
$purple: #651b31;
$purple-secondary: #7b3348; // footer
$pink: #e24f7a;
$red: #a03c4a;
$textBlack: #111;
$textPurple: #ac8591;
$black: #4a4a4a;
$gray: #a5a5a5;
$secondary: #f7f7f7;
$grayBackground: #fbfbfb;
